version: "3.8"

services:
  wg-vpn:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wg-vpn
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - /opt/wg-configs/active/wg0.conf:/config/wg0.conf
      - /opt/wg-configs/active:/config/active
      - /opt/wg-configs/pool:/config/pool
      - /lib/modules:/lib/modules:ro
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
