services:
  vpn-gateway:
    build:
      context: ..
      dockerfile: images/wg-vpn/Dockerfile
    container_name: vpn-gateway
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - WG_ROTATE_SECONDS=900
    volumes:
      - /opt/abb-docker/state/wg-profiles:/var/lib/mullvad/profiles
    restart: unless-stopped
